.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#register,#login {
  width: 25%;
  padding: 50px;
  border: 2px solid black;
  margin-top: 10% !important;
  margin: 0px auto;
  background-color:cadetblue;
  border-radius:20px !important;
  /* margin: 0px auto !important; */
}

button.btn.btn-primary {
  margin-top: 20px;
}

.billpayment-container {
  width:60%;
  border:1px solid black;
  margin:0px auto;
  margin-top:10%;
  padding:20px;
}

.timeInp {
  width:80px !important;
}